.shadow(style='background-color: #001444;background-image: linear-gradient(90deg, #001444 0%, #16A085 90%);')  
  .container
    footer.d-flex.flex-wrap.justify-content-between.align-items-center.py-4
      .col-md-4.d-flex.align-items-center
        a(href='/gate').text-white.m-2 © 2077 AutoMovil Inc
      ul.nav.col-md-4.justify-content-end.list-unstyled.d-flex
        li.mx-3.my-2
          a.text-muted(href='https://www.youtube.com/channel/UCBobORGvBKIW19HZXj_xNSQ')
            span.fa-stack.fa-2x.small
              i.fa-solid.fa-square.fa-stack-2x.text-light
              i.fa-brands.fa-youtube.fa-lg.text-danger.fa-stack-1x.fa-inverse
        li.mx-3.my-2
          a.text-muted(href='https://web.facebook.com/profile.php?id=100009463588902')
            span.fa-stack.fa-2x.small
              i.fa-solid.fa-square.fa-stack-2x.text-light
              i.fa-brands.fa-facebook.fa-lg.text-primary.fa-stack-1x.fa-inverse
        li.mx-3.my-2
          a.text-muted(href='https://www.instagram.com/kalamithron/')
            span.fa-stack.fa-2x.small
              i.fa-solid.fa-square.fa-stack-2x.text-light
              i.fa-brands.fa-instagram.fa-lg.fa-stack-1x.fa-inverse(style="color:violet;")
