script(type='text/javascript', src='/javascripts/jquery.js')
script(type='text/javascript', src='/javascripts/bootstrap.js')
script.
  $(document).ready(function() {
    $('.details').click(function() {
      var id = $(this).data("id")
      $.ajax({
        url: "/stokmobil/deskripsi/"+id,
        data: {
          id: id
        },
        success: function(data) {
          $("#data-mobil").html(data);
          $("#modalDetail").modal('show');
        }
      });
    });
  });
  tanggalan = new Date();
  tahun = tanggalan.getFullYear();
  bulan = tanggalan.getMonth() + 1;
  hari = tanggalan.getDate();
  jam = tanggalan.getHours();
  menit = tanggalan.getMinutes();
  document.getElementById("tanggal_pembelian").value = hari + "/" + bulan + "/" + tahun + " Pada Jam " + jam + ":" + menit;

  
